/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 14px;
    line-height: 1;
    position: absolute;
    top: 165px;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width: 30px;
    height: 36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #6d809f;
    background-color: #fff;
    border-right: 1px solid #a4badd;
    border-left: 1px solid #a4badd;
    transition: background .3s, color .3s;
}
.slick-arrow .angle {
  position: absolute;
  z-index: 2; 
}
.slick-arrow .angle:first-of-type {
  left: -1px;
  top: 0;
  border-left: 15px solid #fff;
  border-bottom: 9px solid transparent;
}
.slick-arrow .angle:nth-of-type(2) {
  right: -1px;
  top: 0;
  border-top: 9px solid #fff;
  border-left: 15px solid transparent;
}
.slick-arrow .angle:nth-of-type(3) {
  right: -1px;
  bottom: 0;
  border-right: 15px solid #fff;
  border-top: 9px solid transparent;
}
.slick-arrow .angle:last-of-type {
  left: -1px;
  bottom: 0;
  border-left: 15px solid #fff;
  border-top: 9px solid transparent;
}
.slick-arrow .angle::before {
  content: "";
  position: absolute;
  
  width: 17px;
  height: 1px;
  background-color: #a4badd;
  left: 50%;
  top: 0;
}
.slick-arrow .angle:first-of-type::before {
  left: -16px;
  top: 4px;
  transform: rotate(-30deg);
}
.slick-arrow .angle:nth-of-type(2)::before {
  left: -16px;
  top: -5px;
  transform: rotate(30deg);
}
.slick-arrow .angle:nth-of-type(3)::before {
  left: -2px;
  top: -5px;
  transform: rotate(-30deg);
}
.slick-arrow .angle:last-of-type::before {
  left: -16px;
  top: -5px;
  transform: rotate(30deg);
}
.slick-arrow .line {
  position: absolute;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 17px;
  background-color: #a4badd;
  transition: background .3s;
}
.slick-arrow .line:first-of-type {
  top: -17px;
}
.slick-arrow .line:last-of-type {
  bottom: -17px;
}
.slick-arrow .line::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  left: -3px;
  background: url(../img/glossary-circle.svg) 50% 50% / contain no-repeat;
}
.slick-arrow .line:first-of-type::after {
  top: -50%;
  transform: translateY(50%);
}
.slick-arrow .line:last-of-type::after {
  bottom: -50%;
  transform: translateY(-50%);
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}
.slick-arrow:active {
  background-color: #4fa1dd !important;
}


.slick-prev
{
    left: -43px;
}
[dir='rtl'] .slick-prev
{
    right: -43px;
    left: auto;
}

.slick-next
{
    right: -43px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -43px;
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0px;
    line-height: 0px;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;
    border: 1px solid #1c3a6a;
    cursor: pointer;

    color: transparent;
    outline: none;
    background: transparent;
    -webkit-mask-image: url(../img/dots-border.svg);
    mask-image: url(../img/dots-border.svg);
}
.slick-dots li.slick-active button {
  background: #1c3a6a;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}