/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothic/CenturyGothic-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analitics-1:before {
  content: "\e900";
}

.icon-analitics-2:before {
  content: "\e901";
}

.icon-analitics-3:before {
  content: "\e902";
}

.icon-analitics-4:before {
  content: "\e903";
}

html {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

html.overflow body {
  height: auto;
  position: relative;
  overflow: hidden !important;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

main {
  background-color: #fff;
}

button, select {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

input[type="checkbox"] {
  margin: 0;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 300;
  padding: 11px 19px;
  resize: none;
  overflow: hidden;
  -webkit-transition: border .3s;
  transition: border .3s;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 300;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder {
  font-weight: 300;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 300;
}

input[type="text"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-weight: 300;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  font-weight: 300;
}

input[type="text"]:active, input[type="text"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
textarea:active,
textarea:focus {
  border-color: #767676;
}

/* styles */
.title {
  font-family: 'CenturyGothic', sans-serif;
  font-weight: 700;
}

.title-l {
  font-family: 'CenturyGothic', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  color: #1d1d1d;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}

.title-l.white {
  color: #fff;
}

.title-m {
  font-family: 'CenturyGothic', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #1d1d1d;
  text-transform: uppercase;
}

.title-m.white {
  color: #fff;
}

.title-s {
  font-family: 'CenturyGothic', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  text-transform: uppercase;
}

.title-s.white {
  color: #fff;
}

.standart-btn {
  display: block;
  width: 300px;
  height: 52px;
  background-color: #23ecb9;
  color: #1d1d1d;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color .3s, border .3s, color .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, border .3s, color .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, transform .3s, border .3s, box-shadow .3s, color .3s;
  transition: background-color .3s, transform .3s, border .3s, box-shadow .3s, color .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.standart-btn.small {
  width: 250px;
  height: 46px;
}

.standart-btn.medium {
  width: 280px;
  height: 46px;
}

.standart-btn.white {
  background-color: #fff;
  border: 2px solid #1c3a6a;
  color: #1c3a6a;
}

.standart-btn.white:active {
  background-color: #4fa1dd !important;
  border-color: #4fa1dd !important;
}

.standart-btn.black {
  background-color: #fff;
  border: 2px solid #1d1d1d;
  color: #1d1d1d;
}

.standart-btn.black:active {
  background-color: #4fa1dd !important;
  border-color: #4fa1dd !important;
}

.standart-btn:active {
  background-color: #bcffee;
}

/**************/
/* HEADER */
@-webkit-keyframes drop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes drop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  height: 70px;
  margin-bottom: -70px;
  width: 100%;
  padding: 0 20px 0 40px;
  position: relative;
  z-index: 100;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 0;
  background-color: #0c1c35;
  -webkit-animation: drop .3s ease-in;
  animation: drop .3s ease-in;
}

.header__tel {
  font-size: 15px;
  font-weight: 700;
  margin-right: 30px;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header-btn {
  -webkit-animation: swing 5s ease infinite;
  animation: swing 5s ease infinite;
}

.header .logo {
  margin-right: calc(272px - (1920px - 100vw) / 2);
  height: 51px;
}

.nav {
  width: calc(592px + 15vw);
}

.nav__item {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__item:active {
  color: #bcffee !important;
}

@-webkit-keyframes swing {
  3% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  6% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  10% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  13% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  16% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  20%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  3% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  6% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  10% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  13% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  16% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  20%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hamburger {
  width: 38px;
  height: 18px;
  z-index: 5;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: none;
  margin-left: 30px;
}

.hamburger.active {
  width: 20px;
  height: 20px;
  z-index: 100;
}

.hamburger.active span {
  background: #fff;
}

.hamburger.active span:nth-child(1) {
  width: 26px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 0px;
  width: 26px;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out , width .25s;
  transition: .25s ease-in-out , width .25s;
}

.hamburger span:nth-child(1) {
  width: 38px;
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  width: 30px;
  top: 8px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: opacity .3s , -webkit-transform .3s;
  transition: opacity .3s , -webkit-transform .3s;
  transition: transform .3s , opacity .3s;
  transition: transform .3s , opacity .3s , -webkit-transform .3s;
}

.hamburger span:nth-child(3) {
  width: 22px;
  top: 16px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.menu .header__tel {
  -webkit-transform: translateX(-10vw);
  transform: translateX(-10vw);
  -webkit-animation: fade-in .6s ease-in;
  animation: fade-in .6s ease-in;
}

body.menu .nav {
  max-height: 100vh;
  -webkit-transform: none;
  transform: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.menu .nav__li {
  -webkit-animation: fade-in .6s ease-in;
  animation: fade-in .6s ease-in;
}

body.menu .hamburger {
  -webkit-transform: translateX(calc(100vw - 188px));
  transform: translateX(calc(100vw - 188px));
}

/*************/
/* MAIN-BG */
.main-screen {
  background: 50% 50% / cover no-repeat;
  height: 760px;
  width: 100%;
  padding-top: 200px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.main-screen.animate {
  opacity: 1;
}

.main-screen__title {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  max-width: 670px;
  margin-bottom: 25px;
}

.main-screen p {
  max-width: 670px;
}

.main-screen p + .font-weight-bold {
  margin-top: 40px;
}

.main-screen p + button {
  margin-top: 20px;
}

.main-screen__consultation {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #23ecb9;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

/***************/
/* ANALITICS */
@-webkit-keyframes glide-1 {
  0% {
    -webkit-transform: translate(71px, 69px) scale(0.1);
    transform: translate(71px, 69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(37px, 69px) scale(0.1);
    transform: translate(37px, 69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(37px, 0px) scale(0.1);
    transform: translate(37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes glide-1 {
  0% {
    -webkit-transform: translate(71px, 69px) scale(0.1);
    transform: translate(71px, 69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(37px, 69px) scale(0.1);
    transform: translate(37px, 69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(37px, 0px) scale(0.1);
    transform: translate(37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes glide-2 {
  0% {
    -webkit-transform: translate(71px, -69px) scale(0.1);
    transform: translate(71px, -69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(37px, -69px) scale(0.1);
    transform: translate(37px, -69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(37px, 0px) scale(0.1);
    transform: translate(37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes glide-2 {
  0% {
    -webkit-transform: translate(71px, -69px) scale(0.1);
    transform: translate(71px, -69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(37px, -69px) scale(0.1);
    transform: translate(37px, -69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(37px, 0px) scale(0.1);
    transform: translate(37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes glide-3 {
  0% {
    -webkit-transform: translate(-71px, 69px) scale(0.1);
    transform: translate(-71px, 69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(-37px, 69px) scale(0.1);
    transform: translate(-37px, 69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(-37px, 0px) scale(0.1);
    transform: translate(-37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes glide-3 {
  0% {
    -webkit-transform: translate(-71px, 69px) scale(0.1);
    transform: translate(-71px, 69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(-37px, 69px) scale(0.1);
    transform: translate(-37px, 69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(-37px, 0px) scale(0.1);
    transform: translate(-37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes glide-4 {
  0% {
    -webkit-transform: translate(-71px, -69px) scale(0.1);
    transform: translate(-71px, -69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(-37px, -69px) scale(0.1);
    transform: translate(-37px, -69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(-37px, 0px) scale(0.1);
    transform: translate(-37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes glide-4 {
  0% {
    -webkit-transform: translate(-71px, -69px) scale(0.1);
    transform: translate(-71px, -69px) scale(0.1);
  }
  25% {
    -webkit-transform: translate(-37px, -69px) scale(0.1);
    transform: translate(-37px, -69px) scale(0.1);
  }
  50% {
    -webkit-transform: translate(-37px, 0px) scale(0.1);
    transform: translate(-37px, 0px) scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.analitics {
  padding: 100px 0 140px;
}

.analitics__text {
  margin-bottom: 25px;
}

.analitics-container {
  height: 280px;
  position: relative;
}

.analitics-container::before {
  content: "";
  position: absolute;
  width: 10000px;
  height: 1px;
  background-color: #a4badd;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.analitics__item {
  height: 50%;
  width: 255px;
  position: relative;
}

.analitics__item:first-of-type {
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: translate(71px, 69px) scale(0.1);
  transform: translate(71px, 69px) scale(0.1);
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.analitics__item:first-of-type .analitics__name {
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.analitics__item:first-of-type.animate {
  -webkit-animation: glide-1 .4s linear;
  animation: glide-1 .4s linear;
  -webkit-transform: none;
  transform: none;
}

.analitics__item:first-of-type.animate .analitics__name {
  -webkit-transform: none;
  transform: none;
}

.analitics__item:nth-of-type(2) {
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: translate(71px, -69px) scale(0.1);
  transform: translate(71px, -69px) scale(0.1);
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.analitics__item:nth-of-type(2) .analitics__name {
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.analitics__item:nth-of-type(2).animate {
  -webkit-animation: glide-2 .4s linear .4s;
  animation: glide-2 .4s linear .4s;
  -webkit-transform: none;
  transform: none;
}

.analitics__item:nth-of-type(2).animate .analitics__name {
  -webkit-transform: none;
  transform: none;
}

.analitics__item:nth-last-of-type(2) {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: translate(-71px, 69px) scale(0.1);
  transform: translate(-71px, 69px) scale(0.1);
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.analitics__item:nth-last-of-type(2) .analitics__name {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.analitics__item:nth-last-of-type(2).animate {
  -webkit-animation: glide-3 .4s linear .2s;
  animation: glide-3 .4s linear .2s;
  -webkit-transform: none;
  transform: none;
}

.analitics__item:nth-last-of-type(2).animate .analitics__name {
  -webkit-transform: none;
  transform: none;
}

.analitics__item:last-of-type {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: translate(-71px, -69px) scale(0.1);
  transform: translate(-71px, -69px) scale(0.1);
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.analitics__item:last-of-type .analitics__name {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.analitics__item:last-of-type.animate {
  -webkit-animation: glide-4 .4s linear .6s;
  animation: glide-4 .4s linear .6s;
  -webkit-transform: none;
  transform: none;
}

.analitics__item:last-of-type.animate .analitics__name {
  -webkit-transform: none;
  transform: none;
}

.analitics__item:hover i {
  background-image: -webkit-linear-gradient(90deg, #00c0ff 0%, #85ecd0 100%);
}

.analitics__item:hover .analitics__tooltip {
  z-index: 3;
  opacity: 1;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.analitics__item:nth-of-type(n + 3) .analitics__tooltip {
  right: auto;
  left: -51px;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.analitics__item:nth-of-type(n + 3) .analitics__tooltip::after {
  left: auto;
  right: -16px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.analitics__item:nth-of-type(n + 3) .analitics__tooltip::before {
  left: auto;
  right: -17px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.analitics__tooltip {
  position: absolute;
  width: 470px;
  top: 50%;
  right: -51px;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #1c3a6a;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s, z-index 0s;
  transition: opacity .3s, z-index 0s;
  -webkit-transition-delay: 0s, .3s;
  transition-delay: 0s, .3s;
}

.analitics__tooltip::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-right: 17px solid #2f4b77;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.analitics__tooltip::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-right: 16px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.analitics__tooltip h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}

.analitics__tooltip p {
  font-size: 14px;
  line-height: 18px;
}

.analitics__name {
  width: calc(100% - 88px);
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px;
  text-decoration: underline;
}

.analitics__icon {
  position: relative;
  z-index: 2;
  background-color: #1c3a6a;
  width: 88px;
  height: 50px;
}

.analitics__icon i {
  background-image: -webkit-linear-gradient(90deg, #85ecd0 0%, #00c0ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 43px;
}

.analitics__icon::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  border-right: 44px solid transparent;
  border-left: 44px solid transparent;
  border-top: 25px solid #1c3a6a;
}

.analitics__icon::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  border-right: 44px solid transparent;
  border-left: 44px solid transparent;
  border-bottom: 25px solid #1c3a6a;
}

.analitics__video {
  height: 100%;
  width: 475px;
  position: relative;
  margin: 0px 62.5px;
}

.analitics__video .video {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #a4badd;
}

.analitics__video .lines {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.analitics__video .angle {
  position: absolute;
  z-index: 2;
}

.analitics__video .angle:first-of-type {
  left: 0;
  top: 0;
  -webkit-filter: drop-shadow(1px 0px 0px #a4badd);
  filter: drop-shadow(1px 0px 0px #a4badd);
  border-left: 30px solid #fff;
  border-bottom: 30px solid transparent;
}

.analitics__video .angle:nth-of-type(2) {
  right: 0;
  top: 0;
  -webkit-filter: drop-shadow(-1px 0px 0px #a4badd);
  filter: drop-shadow(-1px 0px 0px #a4badd);
  border-top: 30px solid #fff;
  border-left: 30px solid transparent;
}

.analitics__video .angle:nth-of-type(3) {
  right: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(-1px 0px 0px #a4badd);
  filter: drop-shadow(-1px 0px 0px #a4badd);
  border-right: 30px solid #fff;
  border-top: 30px solid transparent;
}

.analitics__video .angle:last-of-type {
  left: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(1px 0px 0px #a4badd);
  filter: drop-shadow(1px 0px 0px #a4badd);
  border-left: 30px solid #fff;
  border-top: 30px solid transparent;
}

/*****************/
/* SERVICES */
.services {
  background: 50% 50% / cover no-repeat;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}

.services-container {
  margin: 0 0 35px -15px;
}

.services-container + p {
  margin-bottom: 20px;
  color: #fff;
}

.services-item {
  margin: 0 0 0 15px;
  width: calc(25% - 15px);
  background-color: #fff;
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
  opacity: 0;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.03, 0.78, 0.02, 1.65);
  transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.03, 0.78, 0.02, 1.65);
  transition: transform 0.6s cubic-bezier(0.03, 0.78, 0.02, 1.65), opacity 0.6s;
  transition: transform 0.6s cubic-bezier(0.03, 0.78, 0.02, 1.65), opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.03, 0.78, 0.02, 1.65);
}

.services-item:nth-of-type(2) {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.services-item:nth-of-type(3) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.services-item:nth-of-type(4) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.services-item.animate {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.services-item__title {
  padding-top: 30px;
  padding-bottom: 22px;
  position: relative;
  background-image: -webkit-linear-gradient(320deg, #00a6dc 1%, #18d9a4 100%);
  background-image: linear-gradient(130deg, #00a6dc 1%, #18d9a4 100%);
}

.services-item__title span {
  color: #fff;
}

.services-item__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 20px solid #fff;
  border-top: 30px solid transparent;
}

.services-item__title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 20px solid #fff;
  border-top: 30px solid transparent;
}

.services-item__description {
  padding: 15px 27px 0;
  margin-bottom: 25px;
}

.services-item__description li {
  border-bottom: 1px solid #f3f3f3;
  padding: 15px 0;
  font-size: 14px;
  line-height: 16px;
}

.services-item__description li img {
  margin-right: 10px;
}

.services-item__price {
  margin-bottom: 25px;
  margin-top: auto;
}

.services-item__price span {
  font-size: 36px;
  line-height: 36px;
  margin: 0 5px;
}

.services-item__more {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;
  background-color: #e6e6e6;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.services-item__more:active {
  background-color: #bcffee !important;
}

.services-item__more::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-left: 20px solid #fff;
  border-bottom: 20px solid transparent;
}

.services-item__more::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 20px solid #fff;
  border-bottom: 20px solid transparent;
}

.services-item__more span {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

/***************/
/* GLOSSARY */
.glossary {
  padding-top: 110px;
  padding-bottom: 100px;
}

.glossary__text {
  margin-bottom: 25px;
}

.glossary .slider-container {
  width: 1014px;
  position: relative;
}

.glossary .slider-container.animate .glossary-item__img {
  opacity: 1;
}

.glossary .slider-container::before {
  content: "";
  position: absolute;
  width: 10000px;
  height: 1px;
  top: 167px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a4badd;
}

.glossary-item {
  padding: 0 8px;
  position: relative;
  cursor: pointer;
}

.glossary-item path {
  stroke: #9fb3d2;
  -webkit-transition: stroke .3s, stroke-width .3s;
  transition: stroke .3s, stroke-width .3s;
}

.glossary-item:active path {
  stroke: #4fa1dd !important;
}

.glossary-item:active .glossary-item__title {
  color: #4fa1dd !important;
}

.glossary-item__title {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.glossary-item::after {
  content: "";
  position: absolute;
  top: 168px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 6px;
  width: 7px;
  height: 7px;
  z-index: 1;
  background: url(../img/glossary-circle.svg) 50% 50%/contain no-repeat;
}

.glossary-item::before {
  content: "";
  position: absolute;
  top: 168px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 6px;
  width: 7px;
  height: 7px;
  z-index: 1;
  background: url(../img/glossary-circle.svg) 50% 50%/contain no-repeat;
}

.glossary-item__img {
  position: relative;
  width: 100%;
  height: 337px;
  background: 50% 50% / cover no-repeat;
  margin-bottom: 25px;
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  -webkit-mask: url(../img/glossary-border.svg) 50% 50%/contain no-repeat;
  mask: url(../img/glossary-border.svg) 50% 50%/contain no-repeat;
}

.glossary-item__img .angle {
  position: absolute;
  z-index: 2;
}

.glossary-item__img .angle:first-of-type {
  left: -1px;
  top: -1px;
  border-left: 160px solid #fff;
  border-bottom: 85px solid transparent;
}

.glossary-item__img .angle:nth-of-type(2) {
  right: -1px;
  top: -1px;
  border-top: 85px solid #fff;
  border-left: 160px solid transparent;
}

.glossary-item__img .angle:nth-of-type(3) {
  right: -1px;
  bottom: -1px;
  border-right: 160px solid #fff;
  border-top: 85px solid transparent;
}

.glossary-item__img .angle:last-of-type {
  left: -1px;
  bottom: -1px;
  border-left: 160px solid #fff;
  border-top: 85px solid transparent;
}

/*******************/
/* TESTIMONIALS */
.testimonials {
  padding-top: 70px;
  padding-bottom: 100px;
  background: 50% 50% / cover no-repeat;
}

.testimonials__text {
  color: #fff;
  margin-bottom: 25px;
}

.testimonials .slider-container {
  width: 1014px;
}

.testimonials .slider-container.animate .testimonials-item__img {
  opacity: 1;
}

.testimonials .slider-container::before {
  content: "";
  position: absolute;
  width: 10000px;
  height: 1px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #368ea7;
}

.testimonials .slick-dots li button svg path {
  stroke: #fff;
}

.testimonials .slick-dots li.slick-active button svg path {
  fill: #fff;
}

.testimonials .slick-dots li:active path {
  stroke: #23ecb9;
}

.testimonials .slick-arrow {
  top: 100px;
}

.testimonials .slick-arrow:active > svg path {
  fill: #bcffee !important;
  stroke: #bcffee !important;
}

.testimonials .slick-arrow > svg path {
  stroke: #368ea7;
}

.testimonials .slick-arrow .line {
  background-color: #368ea7;
}

.testimonials .slick-arrow .line::after {
  background: url(../img/testimonials-circle.svg) 50% 50%/contain no-repeat;
}

.testimonials-item {
  padding: 0 8px;
  cursor: pointer;
  position: relative;
}

.testimonials-item::after {
  content: "";
  position: absolute;
  top: 101px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 6px;
  width: 7px;
  height: 7px;
  z-index: 1;
  background: url(../img/testimonials-circle.svg) 50% 50%/contain no-repeat;
}

.testimonials-item::before {
  content: "";
  position: absolute;
  top: 101px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 6px;
  width: 7px;
  height: 7px;
  z-index: 1;
  background: url(../img/testimonials-circle.svg) 50% 50%/contain no-repeat;
}

.testimonials-item path {
  -webkit-transition: stroke .3s, stroke-width .3s;
  transition: stroke .3s, stroke-width .3s;
}

.testimonials-item__img {
  width: 100%;
  height: 202px;
  position: relative;
  background: 0% 0% / cover no-repeat;
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  -webkit-mask: url(../img/testimonials-border.svg) 50% 50%/contain round;
  mask: url(../img/testimonials-border.svg) 50% 50%/contain round;
}

.testimonials-item__img .angle {
  position: absolute;
  z-index: 2;
}

.testimonials-item__img .angle:first-of-type {
  left: -1px;
  top: -1px;
  border-left: 20px solid #4481ab;
  border-bottom: 20px solid transparent;
}

.testimonials-item__img .angle:nth-of-type(2) {
  right: -1px;
  top: -1px;
  border-top: 20px solid #4481ab;
  border-left: 20px solid transparent;
}

.testimonials-item__img .angle:nth-of-type(3) {
  right: -1px;
  bottom: -1px;
  border-right: 20px solid #4481ab;
  border-top: 20px solid transparent;
}

.testimonials-item__img .angle:last-of-type {
  left: -1px;
  bottom: -1px;
  border-left: 20px solid #4481ab;
  border-top: 20px solid transparent;
}

/***************/
/* SERTIFICATES */
.sertificates {
  padding-top: 110px;
  padding-bottom: 100px;
}

.sertificates-container {
  height: 540px;
  width: 100%;
  margin-left: -30px;
  margin-bottom: 30px;
  position: relative;
}

.sertificates-container.animate .sertificates__item {
  opacity: 1;
}

.sertificates-container::before {
  content: "";
  position: absolute;
  width: 5000px;
  height: 1px;
  top: 50%;
  left: 30px;
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
  background-color: #91acd6;
}

.sertificates-container::after {
  content: "";
  position: absolute;
  width: 5000px;
  height: 1px;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
  background-color: #91acd6;
}

.sertificates-container .square {
  position: absolute;
  width: 380px;
  height: 285px;
  left: calc(50% + 15px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #91acd6;
}

.sertificates-container .square::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #91acd6;
}

.sertificates-container .square::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #91acd6;
}

.sertificates-container .square .dot {
  position: absolute;
  left: -4px;
}

.sertificates-container .square .dot:nth-of-type(n + 4) {
  left: auto;
  right: -4px;
}

.sertificates-container .square .dot:nth-of-type(3n + 1) {
  top: -4px;
}

.sertificates-container .square .dot:nth-of-type(3n + 2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
}

.sertificates-container .square .dot:nth-of-type(3n) {
  top: auto;
  bottom: -4px;
}

.sertificates-container .lines {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sertificates__item {
  position: relative;
  z-index: 1;
  height: 100%;
  width: calc(33.33% - 30px);
  margin-left: 30px;
  background: 50% 50% / 100% 100% no-repeat;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.sertificates__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #91acd6;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.sertificates__item.small {
  height: calc(50% - 15px);
}

.sertificates__item.small + .small {
  margin-top: 30px;
}

.sertificates__item.small + .small::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #91acd6;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sertificates__item .dot {
  position: absolute;
  z-index: 1;
}

.sertificates__item .dot:first-of-type {
  top: 50%;
  left: -3px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sertificates__item .dot:last-of-type {
  top: 50%;
  right: -3px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sertificates__item .dot.bottom {
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sertificates__item .dot.top {
  top: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/****************/
/* PRICE */
.price {
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
  background: 50% 50% / cover no-repeat;
}

.price .title-l {
  position: relative;
}

.price .title-l span {
  display: inline-block;
}

.price .title-l .filler {
  position: absolute;
  left: 0;
  top: 0;
  color: #23ecb9;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}

.price .title-l .filler-container {
  position: relative;
  top: 0;
}

.price__text {
  color: #fff;
  margin-bottom: 25px;
}

@-webkit-keyframes vibration {
  20% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
  }
  40% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  60% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
  }
  80% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

@keyframes vibration {
  20% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
  }
  40% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  60% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
  }
  80% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

.calculator {
  height: 358px;
  padding: 50px 40px;
  background-color: #fff;
  -webkit-mask-image: url(../img/calculator-border.svg);
  mask-image: url(../img/calculator-border.svg);
  -webkit-mask-repeat: round;
  mask-repeat: round;
}

.calculator__img {
  right: -170px;
  bottom: -23px;
  height: 428px;
  position: absolute;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.calculator__img.vibrate {
  -webkit-animation: vibration 1s ease-in;
  animation: vibration 1s ease-in;
}

.calculator-container {
  max-width: 900px;
  height: 212px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.calculator-item {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.calculator-item.current {
  -webkit-transform: none;
  transform: none;
}

.calculator-item.prev {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.calculator__count {
  margin-bottom: 27px;
  color: #1c3a6a;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.calculator__title {
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 24px;
}

.calculator-select {
  margin: 0 0 -15px -30px;
}

.calculator-select label {
  position: relative;
  width: calc(33.33% - 30px);
  margin: 0 0 15px 30px;
  padding-left: 27px;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
}

.calculator-select label.long {
  width: calc(66.66% - 30px);
}

.calculator-select .checkmark {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #1c3a6a;
  border-radius: 50%;
}

.calculator-select input:checked ~ .checkmark::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #006cff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.calculator-select input[type="radio"] {
  display: none;
  margin: 0;
}

.calculator-select textarea {
  width: calc(100% - 310px);
  height: 95px;
  margin: 0 0 15px 30px;
}

.calculator-select input[type="text"],
.calculator-select input[type="tel"],
.calculator-select input[type="email"] {
  margin: 0 0 15px 30px;
  width: calc(33.33% - 30px);
}

.calculator-buttons {
  max-width: 900px;
}

.calculator button.disabled {
  display: none;
}

.file-btn-container {
  width: 250px;
  margin-left: 30px;
}

.file-btn__text {
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.selected-files {
  margin-bottom: 5px;
}

.selected-files__text {
  max-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-files__remove {
  cursor: pointer;
  margin-left: 15px;
}

/****************/
/* CONTACTS */
.contacts {
  position: relative;
  padding: 60px 0;
}

.contacts__map {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.contacts__map iframe {
  position: absolute;
  width: calc(100% + 250px);
  height: calc(100% + 250px);
  top: 0;
  left: 0;
  margin: -125px -50px;
}

.contacts-address {
  position: relative;
  z-index: 1;
  width: 475px;
  font-style: normal;
  padding: 50px;
  border: 1px solid #c5c5c5;
  background-color: #fff;
}

.contacts__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.contacts__item {
  line-height: 1;
}

.contacts__item strong + strong {
  margin-top: 5px;
}

.contacts__item img {
  vertical-align: top;
  margin-right: 10px;
  max-width: 20px;
}

.contacts__item span {
  margin-bottom: 8px;
}

.contacts__item p {
  display: inline-block;
  max-width: calc(100% - 30px);
}

.contacts__item + .contacts__item {
  margin-top: 20px;
}

.contacts__item a {
  -webkit-transition: color .3s;
  transition: color .3s;
}

/*************/
/* MODAL */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.modal {
  overflow: auto;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal[data-target="consultation"] .modal-container {
  width: 420px;
}

.modal-slider {
  position: relative;
  overflow: hidden;
  width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
}

.modal-slider__item {
  width: 570px;
  margin-right: 30px;
  margin-left: 0;
  -webkit-transition: margin .3s;
  transition: margin .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-slider__item > img {
  width: 570px;
  max-width: 570px;
  margin-bottom: 20px;
}

.modal-slider__arrow {
  top: 50%;
}

.modal-slider__arrow.slick-next {
  right: -213px;
}

.modal-slider__arrow.slick-prev {
  left: -213px;
}

.modal-slider__arrow .line {
  background-color: #fff;
}

.modal-slider__arrow .line::after {
  background: url(../img/modal-slider-circle.svg) 50% 50%/cover no-repeat;
}

.modal-container {
  position: relative;
  max-width: 100%;
  background-color: #fff;
  padding: 55px 60px 60px;
  font-size: 16px;
  margin: auto;
}

.modal__title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.modal__title + p {
  margin-top: 5px;
  margin-bottom: 33px;
}

.modal__title + input {
  margin-top: 30px;
}

.modal__title + img {
  margin-top: 35px;
}

.modal__text {
  width: 570px;
  max-width: 100%;
}

.modal__text h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 7px;
}

.modal__text li {
  position: relative;
  padding-left: 10px;
}

.modal__text li::before {
  content: "-";
  position: absolute;
  left: 0;
}

.modal__text + .modal__text {
  margin-top: 23px;
}

.modal__text + .modal__btn {
  margin-top: 33px;
}

.modal__text.attention h2 {
  text-transform: uppercase;
  color: #e80000;
  font-size: 16px;
}

.modal input {
  width: 100%;
}

.modal input + input {
  margin-top: 30px;
}

.modal input + button {
  margin-top: 40px;
}

.modal__btn {
  width: 350px;
  max-width: 100%;
}

.modal__politics {
  margin-top: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #8b8b8b;
}

.modal__politics a {
  text-decoration: underline;
}

.modal.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal.active .modal-container {
  -webkit-animation: zoom .3s ease-in;
  animation: zoom .3s ease-in;
}

.modal-close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
}

.modal-close::before {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #848484;
  position: absolute;
  left: -2px;
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.modal-close::after {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #848484;
  position: absolute;
  left: -2px;
  top: 6px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

/*************/
/* FOOTER */
.footer {
  height: 40px;
  background-color: #131b27;
}

.footer__item {
  font-size: 11px;
  color: #888;
}

.footer__item + .footer__item {
  margin-left: 60px;
}

.footer__item a {
  -webkit-transition: color .3s;
  transition: color .3s;
}

/**************/
/* politics */
.politics {
  background: #fff;
  max-width: 940px;
  margin: 1em auto;
  border: 1px solid #ccc;
  padding: 1em 2%;
}

.politics h1 {
  color: #006dad;
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 48px;
}

.politics h2 {
  color: #444;
  font-size: 1.8em;
  -webkit-margin-before: 0.83em;
  margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
  margin-block-end: 0.83em;
  text-align: center;
}

.politics p {
  color: #333;
  padding: 0 0 0.5em;
  font: 1em Arial;
  line-height: 150%;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}
