/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothic/CenturyGothic-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

html {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

html.overflow body {
  height: auto;
  position: relative;
  overflow: hidden !important;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

main {
  background-color: #fff;
}

button, select {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

input[type="checkbox"] {
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* styles */
.title {
  font-family: 'CenturyGothic', sans-serif;
  font-weight: 700;
}

.title-l {
  font-family: 'CenturyGothic', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  color: #1d1d1d;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}

.title-l.white {
  color: #fff;
}

.title-m {
  font-family: 'CenturyGothic', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #1d1d1d;
  text-transform: uppercase;
}

.title-m.white {
  color: #fff;
}

.title-s {
  font-family: 'CenturyGothic', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  text-transform: uppercase;
}

.title-s.white {
  color: #fff;
}

.standart-btn {
  display: block;
  width: 300px;
  height: 52px;
  background-color: #23ecb9;
  color: #1d1d1d;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  -webkit-transition: background-color .3s, border .3s, color .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, border .3s, color .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, transform .3s, border .3s, box-shadow .3s, color .3s;
  transition: background-color .3s, transform .3s, border .3s, box-shadow .3s, color .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.standart-btn.small {
  width: 250px;
  height: 46px;
}

.standart-btn.white {
  background-color: #fff;
  border: 1px solid #1c3a6a;
  color: #1c3a6a;
}

.standart-btn.white:active {
  background-color: #4fa1dd !important;
}

.standart-btn:active {
  background-color: #bcffee;
}

/**************/
/* HEADER */
.header {
  height: 70px;
  padding: 0 20px 0 40px;
  position: relative;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c1c35;
}

.header__tel {
  font-size: 15px;
  font-weight: 700;
  margin-right: 30px;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header-btn {
  -webkit-animation: swing 5s ease infinite;
  animation: swing 5s ease infinite;
}

.nav {
  width: 880px;
}

.nav__item {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__item:active {
  color: #bcffee !important;
}

@-webkit-keyframes swing {
  3% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  6% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  10% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  13% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  16% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  20%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  3% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  6% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  10% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  13% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  16% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  20%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hamburger {
  width: 50px;
  height: 22px;
  z-index: 5;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: none;
  margin-left: 30px;
}

.hamburger.active {
  width: 22px;
  z-index: 100;
}

.hamburger.active span {
  background: #fff;
}

.hamburger.active span:nth-child(1) {
  width: 29px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 0px;
  width: 29px;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out , width .25s;
  transition: .25s ease-in-out , width .25s;
}

.hamburger span:nth-child(1) {
  width: 50px;
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  width: 37px;
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: opacity .3s , -webkit-transform .3s;
  transition: opacity .3s , -webkit-transform .3s;
  transition: transform .3s , opacity .3s;
  transition: transform .3s , opacity .3s , -webkit-transform .3s;
}

.hamburger span:nth-child(3) {
  width: 25px;
  top: 20px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

body.menu .header-tel {
  color: #fff;
}

body.menu .header-logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body.menu .header-tablet-bg {
  max-height: 90px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.menu .nav {
  max-height: 100vh;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

/*************/
/* MAIN-BG */
.main-screen {
  background: 50% 50% / cover no-repeat;
  margin-top: -70px;
  height: 760px;
  width: 100%;
  padding-top: 200px;
  color: #fff;
}

.main-screen__title {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  max-width: 670px;
  margin-bottom: 25px;
}

.main-screen p {
  max-width: 670px;
}

.main-screen p + .font-weight-bold {
  margin-top: 40px;
}

.main-screen p + button {
  margin-top: 20px;
}

.main-screen__consultation {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #23ecb9;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

/***************/
/* ANALITICS */
.analitics {
  padding: 100px 0 140px;
}

.analitics__text {
  margin-bottom: 25px;
}

.analitics-container {
  height: 280px;
}

.analitics__item {
  height: 50%;
  width: 255px;
  position: relative;
}

.analitics__item:hover .analitics__tooltip {
  z-index: 3;
  opacity: 1;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.analitics__item:nth-of-type(n + 3) .analitics__tooltip {
  right: auto;
  left: -51px;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.analitics__item:nth-of-type(n + 3) .analitics__tooltip::after {
  left: auto;
  right: -16px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.analitics__item:nth-of-type(n + 3) .analitics__tooltip::before {
  left: auto;
  right: -17px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.analitics__tooltip {
  position: absolute;
  width: 470px;
  top: 50%;
  right: -51px;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #1c3a6a;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s, z-index 0s;
  transition: opacity .3s, z-index 0s;
  -webkit-transition-delay: 0s, .3s;
  transition-delay: 0s, .3s;
}

.analitics__tooltip::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-right: 17px solid #2f4b77;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.analitics__tooltip::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-right: 16px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.analitics__tooltip h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}

.analitics__tooltip p {
  font-size: 14px;
  line-height: 18px;
}

.analitics__name {
  width: calc(100% - 88px);
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px;
}

.analitics__icon {
  position: relative;
  z-index: 2;
  background-color: #1c3a6a;
  width: 88px;
  height: 50px;
}

.analitics__icon::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  border-right: 44px solid transparent;
  border-left: 44px solid transparent;
  border-top: 25px solid #1c3a6a;
}

.analitics__icon::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  border-right: 44px solid transparent;
  border-left: 44px solid transparent;
  border-bottom: 25px solid #1c3a6a;
}

.analitics__video {
  height: 100%;
  width: 475px;
  position: relative;
  margin: 0px 62.5px;
}

.analitics__video .video {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.analitics__video .lines {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.analitics__video .angle {
  position: absolute;
  z-index: 2;
}

.analitics__video .angle:first-of-type {
  left: 0;
  top: 0;
  border-left: 30px solid #fff;
  border-bottom: 30px solid transparent;
}

.analitics__video .angle:nth-of-type(2) {
  right: 0;
  top: 0;
  border-top: 30px solid #fff;
  border-left: 30px solid transparent;
}

.analitics__video .angle:nth-of-type(3) {
  right: 0;
  bottom: 0;
  border-right: 30px solid #fff;
  border-top: 30px solid transparent;
}

.analitics__video .angle:last-of-type {
  left: 0;
  bottom: 0;
  border-left: 30px solid #fff;
  border-top: 30px solid transparent;
}

/*****************/
/* SERVICES */
.services {
  background: 50% 50% / cover no-repeat;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}

.services-container {
  margin: 0 0 35px -15px;
}

.services-container + p {
  margin-bottom: 20px;
  color: #fff;
}

.services-item {
  margin: 0 0 0 15px;
  width: calc(25% - 15px);
  background-color: #fff;
}

.services-item__title {
  padding-top: 30px;
  padding-bottom: 22px;
  position: relative;
  background-image: -webkit-linear-gradient(320deg, #00a6dc 1%, #18d9a4 100%);
  background-image: linear-gradient(130deg, #00a6dc 1%, #18d9a4 100%);
}

.services-item__title span {
  color: #fff;
}

.services-item__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 20px solid #fff;
  border-top: 30px solid transparent;
}

.services-item__title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 20px solid #fff;
  border-top: 30px solid transparent;
}

.services-item__description {
  height: 238px;
  padding: 15px 27px 0;
  margin-bottom: 25px;
}

.services-item__description li {
  border-bottom: 1px solid #f3f3f3;
  padding: 15px 0;
  font-size: 14px;
  line-height: 16px;
}

.services-item__description li img {
  margin-right: 10px;
}

.services-item__price {
  margin-bottom: 25px;
}

.services-item__price span {
  font-size: 36px;
  line-height: 36px;
  margin: 0 5px;
}

.services-item__more {
  padding-top: 16px;
  padding-bottom: 15px;
  background-color: #e6e6e6;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.services-item__more:active {
  background-color: #bcffee !important;
}

.services-item__more::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-left: 20px solid #fff;
  border-bottom: 20px solid transparent;
}

.services-item__more::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 20px solid #fff;
  border-bottom: 20px solid transparent;
}

.services-item__more span {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

/***************/
/* GLOSSARY */
.glossary {
  padding-top: 110px;
  padding-bottom: 100px;
}

.glossary__text {
  margin-bottom: 25px;
}

.glossary .slider-container {
  width: 1014px;
  position: relative;
}

.glossary .slider-container::before {
  content: "";
  position: absolute;
  width: 10000px;
  height: 1px;
  top: 165px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a4badd;
}

.glossary-item {
  padding: 0 9px;
}

.glossary-item__img {
  position: relative;
  width: 100%;
  height: 336px;
  background: 50% 50% / cover no-repeat;
  margin-bottom: 25px;
  border: 1px solid #a4badd;
  -webkit-mask-image: url(../img/glossary-border.svg);
  mask-image: url(../img/glossary-border.svg);
}

.glossary-item__img::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -4px;
  width: 7px;
  height: 7px;
  background: url(../img/glossary-circle.svg) 50% 50%/contain no-repeat;
}

.glossary-item__img::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -4px;
  width: 7px;
  height: 7px;
  background: url(../img/glossary-circle.svg) 50% 50%/contain no-repeat;
}

.glossary-item__img .angle {
  position: absolute;
  z-index: 2;
}

.glossary-item__img .angle:first-of-type {
  left: -1px;
  top: -1px;
  border-left: 160px solid #fff;
  border-bottom: 85px solid transparent;
}

.glossary-item__img .angle:nth-of-type(2) {
  right: -1px;
  top: -1px;
  border-top: 85px solid #fff;
  border-left: 160px solid transparent;
}

.glossary-item__img .angle:nth-of-type(3) {
  right: -1px;
  bottom: -1px;
  border-right: 160px solid #fff;
  border-top: 85px solid transparent;
}

.glossary-item__img .angle:last-of-type {
  left: -1px;
  bottom: -1px;
  border-left: 160px solid #fff;
  border-top: 85px solid transparent;
}

/*******************/
/* TESTIMONIALS */
.testimonials {
  padding-top: 70px;
  padding-bottom: 100px;
  background: 50% 50% / cover no-repeat;
}

.testimonials__text {
  color: #fff;
  margin-bottom: 25px;
}

.testimonials .slider-container {
  width: 1014px;
}

.testimonials-item {
  padding: 0 9px;
}

.testimonials-item__img {
  width: 100%;
  height: 200px;
  position: relative;
  background: 0% 0% / cover no-repeat;
  border: 1px solid #368ea7;
  -webkit-mask-image: url(../img/testimonials-border.svg);
  mask-image: url(../img/testimonials-border.svg);
}

.testimonials-item__img .angle {
  position: absolute;
  z-index: 2;
}

.testimonials-item__img .angle:first-of-type {
  left: -1px;
  top: -1px;
  border-left: 20px solid #4481ab;
  border-bottom: 20px solid transparent;
}

.testimonials-item__img .angle:nth-of-type(2) {
  right: -1px;
  top: -1px;
  border-top: 20px solid #4481ab;
  border-left: 20px solid transparent;
}

.testimonials-item__img .angle:nth-of-type(3) {
  right: -1px;
  bottom: -1px;
  border-right: 20px solid #4481ab;
  border-top: 20px solid transparent;
}

.testimonials-item__img .angle:last-of-type {
  left: -1px;
  bottom: -1px;
  border-left: 20px solid #4481ab;
  border-top: 20px solid transparent;
}

/***************/
/* SERTIFICATES */
.sertificates {
  padding-top: 110px;
  padding-bottom: 100px;
}

.sertificates-container {
  height: 540px;
  margin-left: -30px;
  margin-bottom: 30px;
  position: relative;
}

.sertificates-container::before {
  content: "";
  position: absolute;
  width: 5000px;
  height: 1px;
  top: 50%;
  left: 30px;
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
  background-color: #91acd6;
}

.sertificates-container::after {
  content: "";
  position: absolute;
  width: 5000px;
  height: 1px;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
  background-color: #91acd6;
}

.sertificates-container .square {
  position: absolute;
  width: 380px;
  height: 285px;
  left: calc(50% + 15px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #91acd6;
}

.sertificates-container .square::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #91acd6;
}

.sertificates-container .square::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #91acd6;
}

.sertificates-container .square .dot {
  position: absolute;
  left: -4px;
}

.sertificates-container .square .dot:nth-of-type(n + 4) {
  left: auto;
  right: -4px;
}

.sertificates-container .square .dot:nth-of-type(3n + 1) {
  top: -4px;
}

.sertificates-container .square .dot:nth-of-type(3n + 2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
}

.sertificates-container .square .dot:nth-of-type(3n) {
  top: auto;
  bottom: -4px;
}

.sertificates-container .lines {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sertificates__item {
  position: relative;
  height: 100%;
  width: calc(33.33% - 30px);
  margin-left: 30px;
  background: 50% 50% / 100% 100% no-repeat;
  cursor: pointer;
}

.sertificates__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #91acd6;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.sertificates__item.small {
  height: calc(50% - 15px);
}

.sertificates__item.small + .small {
  margin-top: 30px;
}

.sertificates__item.small + .small::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #91acd6;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sertificates__item .dot {
  position: absolute;
  z-index: 1;
}

.sertificates__item .dot:first-of-type {
  top: 50%;
  left: -3px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sertificates__item .dot:last-of-type {
  top: 50%;
  right: -3px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sertificates__item .dot.bottom {
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sertificates__item .dot.top {
  top: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/****************/
/* PRICE */
.price {
  padding-top: 70px;
  padding-bottom: 100px;
}

.price__text {
  color: #fff;
  margin-bottom: 25px;
}

/****************/
/* CONTACTS */
.contacts-address {
  width: 475px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-style: normal;
  padding: 50px;
  border: 1px solid #c5c5c5;
}

.contacts__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.contacts__item {
  line-height: 1;
}

.contacts__item strong + strong {
  margin-top: 5px;
}

.contacts__item img {
  vertical-align: top;
  margin-right: 10px;
  max-width: 20px;
}

.contacts__item span {
  margin-bottom: 8px;
}

.contacts__item p {
  display: inline-block;
  max-width: calc(100% - 30px);
}

.contacts__item + .contacts__item {
  margin-top: 20px;
}

.contacts__item a {
  -webkit-transition: color .3s;
  transition: color .3s;
}

/*************/
/* FOOTER */
.footer {
  height: 40px;
  background-color: #131b27;
}

.footer__item {
  font-size: 11px;
  color: #888;
}

.footer__item + .footer__item {
  margin-left: 60px;
}

.footer__item a {
  -webkit-transition: color .3s;
  transition: color .3s;
}
